  body
  {
    color: white;
    background: rgb(56, 23, 218);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed rgb(255, 255, 255);
    width: 350px;
    height: 300px; 
  }
  .nameOfObjects, #resultObjectName  , #resultObjectAccuracy
  {
    color: rgb(255, 244, 244);
  }
